.item-details{
    display: flex;
    margin: 75px auto;
    padding: 0 40px;
}
.image{
    width: 300px;
    height: 300px;
}
.details{
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.details-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 0 0 50%;
}
.buttons-actions{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
