@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');


.open__modal{
    cursor: pointer;
    margin-right: 25px;
    width: 140px;
    height: 28px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 2px blue;
    transition: all .2s ease-in-out;
    color: rgb(129, 129, 129);
}

.modal__title{
    text-align: center;
    color: rgb(80, 80, 247);
    font-size: 46px;
    margin-bottom: 16px;
}
.input_wrapper{
    display: flex;
    flex-direction: column;
}

.input{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 13px;
    margin: 8px 0;
    outline: transparent;
}

.category{
    margin-top: 20px;
    font-size: 28px;
}

.modal__select{
    font-size: 15px;
    margin-left: 10%;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    cursor: pointer;
    line-height: 1.1;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    border: 1px solid blue;
}

.modal__close{
    width: 35px;
    height: 35px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
    z-index: 2;
    top: -2%;
    right: -2%;
    cursor: pointer;
}

button:active{
    transform: translateY(5px);
}

.select_input{
    display: flex;
    justify-content: space-between;
}

.input_label{
    display: inline-block;
}

.span__name{
    display: inline-block;
    position: absolute;
    left: 30%;
    color: red;
    font-size: 14px;
}

.buttons_wrapper{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.category__select{
    width: 90px;
    height: 23px;
    border: 1px solid rgb(37, 37, 245);
    border-radius: 10px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    color: blue;
}

.modal__submit{
    width: 85px;
    height: 32px;
    border: solid 1px rgb(118, 118, 228);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(118, 118, 228);
    color: white;
    font-size: 18px;
}

.modal__cancel{
    width: 65px;
    height: 32px;
    border: solid 1px rgb(224, 49, 49);
    border-radius: 10px;
    background-color: rgb(224, 49, 49);
    color: white;
    cursor: pointer;
    transition: all .5s ease-in-out;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}